body{
    overflow-x:hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
img{
    width:130px;
}
.navbar{
    font-size:0.9rem;
    font-weight:700;
}
nav ul li {
    margin:0.1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
nav ul li a:hover{
    color:#216112 !important;
}



/*.button{
    background:#216112;
    color:white !important;
    padding:5px;
} */
.img-container{
    position:relative !important;
}
.image-overlay{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background:rgba(14, 224, 14, 0.15);
    z-index:1;

}
.img-overlay-text{
    position:relative;
    z-index: 4;
    height:100%;
    width: 100%;
    max-width: 100%;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    color:white;
    text-align:center;
}
.img_overlay_heading{
    font-size:2.5rem; 
    letter-spacing: 0.2rem;
    font-weight:600;
}
.img_overlay_par{
  font-size:1.2rem;
}
input[type="text"]{
    width:280px;
    padding:5px 10px;
    border:1px solid white;
}
input[type="submit"]{
    background:#216112;
    margin-top:10px;
    color:white;
    padding:5px 10px;
    border-radius:3px;
    border:1px solid #216112;
}

i{
    color:#216112;
}
#popular_courses a{
    color:#216112;
    text-decoration:none;
}
  .card img{
    width: 100px;
    height:100px;
    border-radius:50%;

} 



@media screen and (max-width:576px){

   
    .img_overlay_heading{
        font-size:1.25rem; 
        letter-spacing: 0.1rem;
        font-weight:500;
    }
    .img_overlay_par {
      font-size:1rem;
    }
    .card{
        width:80% !important;
    }
}
@media screen and (max-width:992px){
    .col-md-4 .card{
        margin:1rem;
    }
}
